<ul class="books-list">
  <li class="book-name" *ngFor='let bookWithMetaData of booksFromFirebase | async' [title]="bookWithMetaData.key">
    <p>{{bookWithMetaData.payload.val().name}}</p>

    <div class="pull-right">
        <button class="btn read-more" (click)="readMore(bookWithMetaData.payload.val().bookid)" title="Read more...">Read more...</button>
        <button class="btn read-more" (click)="onBookSelected(bookWithMetaData.key)" title="Quotes">Quotes</button>
    </div>
  </li>
</ul>

