.random-quote {
  width: 80%;
  margin: auto;
  text-align: center;
}
.random-quote-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #a9a9a9;
  margin: 40px auto;
}
.random-quote-content {
  padding: 5px 20px;
  background: #CAEBF2;
  color: #6C6B6B;
  display: inline-block;
  margin-bottom: 70px;
}
