  <div class="container-fluid content-container">
    <div class="main-menu row">
        <a routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact:true}" class="menu-home">Home</a>
        <a routerLink="/books" routerLinkActive="active-route" class="menu-books">Books</a>
        <a routerLink="/dashboard" routerLinkActive="active-route" class="menu-dashboard">Dashboard</a>
        <a routerLink="/authors" routerLinkActive="active-route" class="menu-authors">Authors</a>
      <a routerLink="/registration" routerLinkActive="active-route" class="menu-register">Register</a>
    </div>

 <router-outlet></router-outlet>
</div>
  <!--active-route clasa din css-->
<!-- href - face reload la toata aplicatia -->
  <!-- <app-date></app-date> -->
  <!-- <input type="text" [(ngModel)]="name"/>
  <span>{{name}}</span>
  <label for="date-input">Add your favorite quote</label>
  <input type="text" name="date-input" [(ngModel)]="date"/>
  <div>{{date}}</div> -->
  <!-- 'date' variabila pe care o iau din componenta curenta -->
