.main-menu {
  width: 100%;
  height: 65px;
  padding: 23px 50px;
  box-sizing: border-box;
  background: #ffffff;
  margin: 20px 0;
  text-align: right;
}
.active-route {
  font-weight: bold;
  color: aqua;
}
.content-containter {
  padding: 0;
}
a {
  margin-right: 20px;
}

.books-container app-add-book {
    text-align: center;
}
app-list {
    display: inline-block;
}
app-card {
    display: inline-block;
}
