.main-menu {
    width: 100%;
    height: 85px;
    padding: 30px 50px;
    box-sizing: border-box;
    background: #1d2731;
}
.active-route {
  font-weight: bold;
  color: aqua;
  border: 1px solid white;
}

a {
  margin-right: 20px;
}
.books-container {
    padding-left: 0;
}
.books-container app-add-book {
    text-align: center;
}
app-list {
    display: inline-block;
}
app-card {
    display: inline-block;
}
