  <div class="container-fluid">
    <div class="main-menu row">
        <a href="#" class="menu-home">Home</a>
        <a href="#" class="menu-books">Books</a>
    </div>
    <app-books></app-books>
  <app-random-quote></app-random-quote>
</div>

  <!-- <app-date></app-date> -->
  <!-- <input type="text" [(ngModel)]="name"/>
  <span>{{name}}</span>
  <label for="date-input">Add your favorite quote</label>
  <input type="text" name="date-input" [(ngModel)]="date"/>
  <div>{{date}}</div> -->
  <!-- 'date' variabila pe care o iau din componenta curenta -->
