.main-menu {
    width: 100%;
    height: 85px;
    padding: 30px 50px;
    box-sizing: border-box;
    background: #1d2731;
}
.books-container {
    padding-left: 0;
}
.books-container app-add-book {
    text-align: center;
}
app-list {
    display: inline-block;
}
app-card {
    display: inline-block;
}