<form class="add-quote-form">
   <h2>Add a new quote to one of your books</h2>
  <div class="add-quote-row row">
    <label for="book-name" class="col-md-3">Book id:</label>
    <input type="text" class="col-md-4" id="book-name" [(ngModel)]='newQuoteId'/>
    <div class="col-md-5"></div>
  </div>
  <div class="add-quote-row row">
    <label for="book-description" class="col-md-3">Quote:</label>
    <input type="text" id="book-description" class="col-md-9"  [(ngModel)]='newQuote'/>
  </div>
    <button type="button" class="add-quote-button" (click)='onQuoteAdded()'>Add new quote</button>
</form>
<div class="list-of-cards"  *ngFor='let quote of quotesFromFirebase | async'></div>
