.books-list {
    list-style: none;
    margin-top: 0;
    padding: 0;
    width: 300px;
    display: inline-block;
}
.book-name {
    height: 40px;
    padding: 10px 0 10px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #CCCECD;
    background: #d98310;
    color: white;
    font-weight: bold;
}
.book-name:hover {
    cursor: pointer;
    background: #fca533;
}