.authors-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  width: 100%;
  float: left;
}
.author-name {
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid #DCDBD5;
  background: white;
  color: #FA5E64;
  font-weight: bold;
  overflow: auto;
  text-transform: capitalize;
  background-size: 100% 100%;
}
.read-more {
  margin-right: 20px;
  background: none;
  border: none;
  padding: 0;
  color: #94B0B6;
  font-size: 13px;
}
.read-more:hover {
  color: #0b3c5d;
}
.read-more:focus {
  border: none;
  outline: none;
  color: #0b3c5d;
}
