.card {
    width: 400px;
    box-shadow: 1px 1px 2px #FF383f;
    margin: 27px 30px 20px 90px;
    background: rgba(202, 235, 242, 0.8);
    color: #6C6B6B;
    padding: 15px;
    box-sizing: border-box;
}
.card-book-title {
    padding-bottom: 3px;
    border-bottom: 2px solid #fca533;
}
.carddate-input {
    color: black;
}
