<div class="container add-book-container">
  <h4>Add a new book to your library</h4>
  <form class="add-book-form" #form="ngForm">
    <div class="add-book-row form-group">
      <label for="book-author">Author:</label>
      <input type="text" class="form-control" id="book-author" name="book-author" [(ngModel)]='newBookAuthor'/>
      <!--ce se intampla de fapt in inputul de mai sus <input type="text" name="book-author" [ngModel]='newBookAuthor' (ngModelChange)="newBookAuthor = $event"/> -->
    </div>
    <div class="add-book-row form-group">
      <label for="book-name">Book name:</label>
      <input type="text" class="form-control" id="book-name" name="book-name" [(ngModel)]='newBookName'/>
      </div>
    <div class="add-book-row form-group">
      <label for="book-description">Description:</label>
      <input type="text" class="form-control" id="book-description" name="book-description" [(ngModel)]='newBookDescription'/>
    </div>
    <div class="add-book-row form-group">
      <label for="book-id">Book ID:</label>
      <input type="text" class="form-control" id="book-id" name="book-id" [(ngModel)]='newBookId'/>
    </div>
    <button type="button" class="btn btn-warning" (click)='onBookAdded()'>Add book</button>
  </form>
  Model: {{ book.author | json }}
  Angular: {{ form.value | json }}
</div>
