<form class="add-book-form row">
  <h3>Add a new book to your library</h3>
  <div class="add-book-row">
    <label for="book-author" class="col-md-4">Author:</label>
    <input type="text" class="col-md-8" name="book-author" [(ngModel)]='newBookAuthor'/>
    <!--ce se intampla de fapt in inputul de mai sus <input type="text" name="book-author" [ngModel]='newBookAuthor' (ngModelChange)="newBookAuthor = $event"/> -->
  </div>
  <div class="add-book-row">
    <label for="book-name" class="col-md-4">Book name:</label>
    <input type="text" class="col-md-8" name="book-name" [(ngModel)]='newBookName'/>
    </div>
  <div class="add-book-row">
    <label for="book-description" class="col-md-4">Description:</label>
    <input type="text" class="col-md-8" name="book-description" [(ngModel)]='newBookDescription'/>
  </div>
  
  <button type="button" class="add-book-button" (click)='onBookAdded()'>Add book</button>
</form>
