.add-book-container {
  width: 80%;
  margin-top: 50px;
}
.form-title {
  overflow: auto;
}
.add-book-container h4 {
  color: #6C6B6B;
  float: left;
}

.add-book-container h5 {
  float: right;
  color: #6C6B6B;
}
.add-book-form {
    padding: 10px 10px 15px 15px;
    background:rgba(202, 235, 242, 0.8);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.add-book-form h3 {
    margin-bottom: 20px;
}
.add-book-form input {
    margin-bottom: 20px;
}
.add-book-form label {
  color: #FA5E64;
}
.add-book-row {
    text-align: left;
}
.add-book-button {
    width: 180px;
    border: none;
    padding: 4px;
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    background: #FF383f;
}
